<template>
  <header>
    <h1>Logo</h1>
    <nav>
      <ul>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </nav>
  </header>
</template>

<script>
export default {
  name: 'sellsuki-header'
}
</script>
